.users {
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.user {
  background-color: white;
  padding: 10px;
  border: 1px solid lightgray;
  display: flex;
  padding-left: 30px;
  cursor: pointer;
}

.user:hover {
  background-color: #fff7c7;
}

.user > .profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgray;
}

.profileImage > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.userInfo > .name {
  font-size: 1.2em;
  font-weight: bold;
}

.userInfo > .email {
  font-size: 0.8em;
  color: gray;
}

.userDetails {
  display: flex;
}

.userDetails table td:first-of-type {
  font-weight: bold;
}
